# =========================================================================
# project
# =========================================================================

# quickstart:
#   install uv as documented on
#   https://docs.astral.sh/uv/getting-started/installation/

# dependencies
#   - use `uv add <package>` and `pdm remove <package>` to manage dependencies
#   - use `uv add -d -G dev <packag>` to add a dev dependency
#   - use `uv update --update-all` to update dependencies
#   - use `uv install` to install dependencies

# usage:
#   - use `uv run <pythonfile>` to execute code
#   - use `uv run pytest` to perform unit tests

# line lengths:
#   - Excessive line lengths aren't good. But rather then automatically
#     breaking them and turning into vertical blocks we want to see the
#     nastiness sticking out prominently.

[project]
name = "{{ package_namespace }}.{{ package_name }}"
version = "0.0.0"
description = "{{ package_description }}"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"},
]
requires-python = "{{ python_constraint }}"
dependencies = [
]
readme = "README.md"
license = {text = "GPL-3.0-or-later"}
keywords = [
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Typing :: Typed",
]

[project.urls]
changelog = "{repository_url}/CHANGELOG.md"
documentation = "https://github.com/{{repository_owner}}/{{repository_name}}/"
homepage = "https://github.com/{{repository_owner}}/{{repository_name}}/"
issues = "https://github.com/{{repository_owner}}/{{repository_name}}/issues/"
repository = "{repository_url}/"

[project.scripts]
example-cli = "{{ package_namespace }}.{{ package_name }}.cli:main"

# uv has gained its own backend but it does not support namespace packages
# (use pdm backend because namespace packages are good for you)
#  - https://dev.to/bastantoine/discovering-python-namespace-packages-4gi3
#  - https://realpython.com/python-namespace-package/
[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm.build]
includes = ["{{ package_namespace }}/"]
source-includes = ["tests/"]

# =========================================================================
# tooling
# =========================================================================

# -------------------------------------------------------------------------
# autopep8
#  - https://pypi.org/project/autopep8/
# -------------------------------------------------------------------------

[tool.autopep8]
max_line_length = {{ max_line_length }}
ignore          = [
    "E221",
    "E241"
]
in-place = true

# -------------------------------------------------------------------------
# isort
#  - https://github.com/PyCQA/isort
#  - https://pycqa.github.io/isort/docs/configuration/config_files
# -------------------------------------------------------------------------

[tool.isort]
# use the black profile but override "multi_line_output"
profile           = "black"
line_length       = {{ max_line_length }}
multi_line_output = 7
src_paths         = [
    "{{ package_namespace }}/",
    "tests/",
]

# -------------------------------------------------------------------------
# pylint
#  - https://docs.pylint.org/run.html
#  - https://docs.pylint.org/features.html
# -------------------------------------------------------------------------

[tool.pylint.main]
# Specify a score threshold under which the program will exit with error.
# default: 10
fail-under = 8

[tool.pylint.format]
# Maximum number of characters on a single line.
# default: 100
max-line-length = {{ max_line_length }}

[tool.pylint."messages control"]
disable = [
    # defaults:
    "raw-checker-failed",
    "bad-inline-option",
    "locally-disabled",
    "file-ignored",
    "suppressed-message",
    "deprecated-pragma",
    "use-symbolic-message-instead",
    "use-implicit-booleaness-not-comparison-to-string",
    "use-implicit-booleaness-not-comparison-to-zero",
    # customized
    "no-else-return",
    "use-dict-literal",
    "use-list-literal",
]

# -------------------------------------------------------------------------
# uv
#  - https://docs.astral.sh/uv/configuration/files/
# -------------------------------------------------------------------------

[tool.uv]
dev-dependencies = [
    "autopep8      ~= 2.3",
    "copier        ~= 9.6",
    "coverage-lcov ~= 0.3",
    "flake8        ~= 7.1",
    "mypy          ~= 1.15",
    "pylint        ~= 3.3",
    "pytest-cov    ~= 6.0",
    "pytest-sugar  ~= 1.0",
]
