# {{ repository_name }}

[![Copier](https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/copier-org/copier/master/img/badge/badge-grayscale-inverted-border-purple.json)](https://github.com/copier-org/copier)
[![pre-commit](https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit)](https://github.com/pre-commit/pre-commit)
[![Coverage Status](https://coveralls.io/repos/github/{{ package_namespace }}/{{ repository_name }}/badge.svg)](https://coveralls.io/github/{{ package_namespace }}/{{ repository_name }})
[![tox](https://img.shields.io/badge/tox-ab79d2)](https://tox.wiki/)
[![uv](https://img.shields.io/badge/uv-ab79d2)]](https://docs.astral.sh/uv/)

{{ package_description }}

## Purpose

## Usage

## Bugs & Features

Please submit bugs and request features on the [issue tracker]({{ issuetracker_url }}).

Contributions are always welcome.

## How to contribute

Please refer to the [Contribution guide](docs/CONTRIBUTING.md).
