#!/usr/bin/env python3
#
# copy this file whenever you need to create a new module
#

# standard imports
import logging

# extra imports (make sure to `uv add <package>`!), e.g.:
# import requests

LH = logging.getLogger("{{ package_namespace }}.{{ package_name }}")


def my_function():
    ...
