#!/bin/bash
#
# run various tests to validate the code
#

set -e
set -u

# code quality
uv run flake8 {{ package_namespace }}/ tests/

# code style
# (pylint is configured to accept "less than perfect")
uv run pylint {{ package_namespace }}/ tests/
{% if is_typed %}

# validate type hints (package)
uv run mypy -p {{ package_namespace }}.{{ package_name }}

# validate type hints (extra files)
# (we need to be careful since there might be no files)
FILES=`find tests/ -name '*.py'`
if [[ -n $FILES ]] ; then
    uv run mypy $FILES
fi
{% endif %}

# Generate a coverage report in lcov format even if pytest fails due to
# lacking coverage. The report can then be used by an IDE to indicate
# coverage directly in your editor window. Special care must be taken
# when working on code that isn't covered by unit tests.
#
# recommended extension for VS Code:
# https://marketplace.visualstudio.com/items?itemName=markis.code-coverage
generate_lcov() {
    mkdir -p coverage
    # generate coverage report in lcov and HTML format
    uv run coverage-lcov --output_file_path=coverage/lcov.info
    uv run coverage html
}

trap generate_lcov EXIT
uv run pytest --cov={{ package_namespace }}.{{ package_name }} --cov-report=term-missing --no-header --quiet tests/

tox

echo "----------------------------------------------------------------------"
echo "If you reached this far you passed. Congratulations!"
echo "----------------------------------------------------------------------"
